<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML - Clase 2</title>
</head>

<body>
    <h1>Listado de Alumnos</h1>
    <table border="1" width ="100%">
        <!-- Theaad: Titutlos de la tabla -->
        <thead>
        <tr> <!--Tr es una fila (1)-->
                <th> <!-- Th es titulo de una columna -->
                    Nombre</th><!-- columna 1-->
                <th>Apellido</th><!-- Columna  2-->
                <th>Email</th><!-- Columna 3-->
                <th>DNI</th><!-- Columna 4-->
                <th>Curso</th><!-- Columna 5-->
        </tr>
        <tr align="center"> <!-- Fila 2-->
            <td><b>Kevin</b></td><!--Td sirve para agregar una celda-->
            <td><a href="alumno.html">Joel</a></td><!-- Agregas un link a una etiqueta-->
            <td>Kevin96.lat@outlook.com</td>
            <td>40036057</td>
            <td>2</td>
        </tr>
        <tr align="center">
            <td align="left"><b>Guadalupe</b></td>
            <td>Bressan</td>
            <td>guadalupe@gmail.com</td>
            <td>39996339</td>
            <td>Curso 3</td>
            </tr>

        <tr align="center">
            <td align="right"><b>Benjamin</b></td>
            <td>Nicolas</td>
            <td>BenjaNico@gmail.com</td>
            <td>5123020</td>
            <td>4</td>
        </tr>
        </thead>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="1"></td>
            <td>Total </td>
            <td colspan="2"></td>   
            <td>5</td>
        </tr>
    </tfoot>
    </table>
    
</body>
</html>